[Desktop Entry]
Name=Sticky
Comment=A simple sticky-note app for your desktop
Exec=python3 sticky.py
Icon=sticky.svg
Terminal=false
Type=Application
Categories=Utility;Office;
StartupNotify=true
StartupWMClass=com.sticky.notes
